<div th:fragment="reader-modal" class="modal fade" id="reader-modal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Tạo mới bạn đọc</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form id="reader-form">
          <div class="mb-3 mt-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
          </div>
          <div class="mb-3 mt-3">
            <label for="gender" class="form-label">Gender:</label>
            <select class="form-control" id="gender" name="gender">
              <option value="MALE">NAM</option>
              <option value="FEMALE">NỮ</option>
              <option value="OTHER">KHÁC</option>
            </select>
          </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="mb-3 mt-3">
            <label for="phone" class="form-label">Phone:</label>
            <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone">
          </div>
          <div class="mb-3 mt-3">
            <label for="birthday" class="form-label">Birthday:</label>
            <input type="date" class="form-control" id="birthday" placeholder="Enter birthday"
                   name="birthday">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-save-reader">Lưu</button>
      </div>
    </div>
  </div>
</div>