<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Spring Boot</title>
</head>
<body>
    <h1>Bài học Spring web đầu tiên</h1>
    <!--thymeleaf-->
    <span th:text="${'Xin chào: '+ username}"></span>
    <a href="/students">Danh sách sinh viên</a>

</body>
</html>