<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/common/head :: html_head(pageTitle='Danh sách bạn đọc')}">
<body>

<div th:insert="~{fragments/common/navbar :: thanh-menu}"></div>

<div class="container">
    <div class="title">
        <h1>QUẢN LÝ BẠN ĐỌC</h1>
    </div>
    <div class="ui-button">
                <a href="/readers/reader-creation-form" class="btn-creation">Create</a>
        <!--        <a th:href="${'/books/book-creation-form'}">Create</a>-->
<!--        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Tạo mới</button>-->
    </div>

<!--    <div th:insert="fragments/reader-creation-modal :: modal-tao-moi-ban-doc"></div>-->

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Tên bạn đọc</th>
            <th>Email</th>
            <th>SDT</th>
            <th>Địa chỉ</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="banDoc: ${danhSachBanDoc}">
            <td th:text="${banDoc.id}"></td>
            <td th:text="${banDoc.name}"></td>
            <td th:text="${banDoc.email}"></td>
            <td th:text="${banDoc.phone}"></td>
            <td th:text="${banDoc.address}"></td>
            <td>
                <a role="button" class="text-danger"
                   th:href="@{'/readers/' + ${banDoc.id} + '/delete'}"
                   th:data-confirm-delete="|Bạn có chắc chắn muốn xóa bạn đọc này?|"
                   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                >
                    <!--                    <i class="fas fa-trash"></i>-->
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>

<script src="js/reader/readers.js"></script>